    /* page theme colours */
  
  :root{
    --dark : #D85C00;
    --mid : #FFA600;
    --light : #F3DB00;
  }


  #indexCanvas{
    position: relative;
    width: 100vw;
    height: 100vh;
    filter: blur(0px)
  }

  #infoContainer{
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 35%;
    width: 90%;
    height: 60%;
    background: transparent;
    display:inline-block;
  }

  .pair{
    position: relative;
    background: transparent;
    width: 45%;
    height: 80%;
    margin-bottom: 10%;
    display:inline-block;
  }

  .infoBox{
    position: relative;
    background: transparent;
    width: 40%;
    height: 80%;
    margin-bottom: 10%;
    display:inline-block;
    box-shadow: 0 0 5px 8px var(--bg) inset;
  }

  .fade{
    opacity: 0;
    background: var(--bg);

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  .fade:hover{
    opacity: 0.6;
  }

  .left{
    float: left;
    margin-left: 5%;
  }

  .right{
    float: right;
    margin-right: 5%;
  }


  #nameText{
    background-image: linear-gradient(to right, var(--dark),var(--mid), var(--light));
    background-color: #f3ec78;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }

  #titleText{
    text-align: center;
    position: absolute;
    top: 10vh;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
  }

  #info1{ /*Me*/
    background-image: url('../assets/Me.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -75px;
  }

  #info2{ /*Soft Eng*/
    background-image: url('../assets/Code.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #info3{ /*SUAS*/
    background-image: url('../assets/SUAS.jpg');
    background-repeat: no-repeat;
    background-position: 0px,-10px;
    background-size: cover;
  }

  #info4{ /*MISC*/
    background-image: url('../assets/.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  


